body {
  font-family: "Lato", sans-serif;
  transition: background-color 0.5s;
  background: url("../images/logo.jpg");
  background-position: fixed;
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-color: white !important;
}

.btn {
  color: black;
}

.btn:hover {
  color: rgb(242, 154, 191);
}

.link {
  margin-bottom: 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(242, 154, 191);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-right: 3px solid black;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  font-size: 40px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
